﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#calculateLoanForm {
    margin-top: 10px;
    margin-bottom: 10px;
}
#message {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}